@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";
@import "common/beescm-val";
@import "popover";

@include b(select) {
  display: inline-block;
  position: relative;

  .el-select__checkbox_value {
    display: inline-flex;
  }
  &:hover {
    .el-input__inner {
      border-color: $--select-border-color-hover;
    }
  }

  .el-input__inner {
    cursor: pointer;
    padding-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      border-color: $--select-input-focus-background;
    }
  }

  .el-input {
    & .el-select__caret {
      color: $--select-input-color;
      font-size: $--select-input-font-size;
      transition: transform .3s;
      transform: rotateZ(180deg);
      line-height: 16px;
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-color;
        transition: $--color-transition-base;

        &:hover {
          color: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .el-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: $--select-disabled-border;
        }
      }
    }

    &.is-focus .el-input__inner {
      border-color: $--select-input-focus-background;
    }
  }

  > .el-input {
    display: block;
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 0;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 28px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-color;
    line-height: 18px;
    font-size: $--select-input-font-size;

    &:hover {
      color: $--select-close-hover-color;
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: $--beescm-default-font-size;
    padding: 0;
    color: $--beescm-text-default-color;
    &.el-select-checkbox__tags {
      padding: $--beescm-select-input-padding;
    }
  }

  .el-tag__close {
    margin-top: -2px;
  }

  .el-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5;

    &__close.el-icon-close {
      background-color: $--color-text-placeholder;
      right: -7px;
      top: 0;
      color: $--color-white;

      &:hover {
        background-color: $--color-text-secondary;
      }

      &::before {
        display: block;
        transform: translate(0, .5px);
      }
    }
  }
}

@include b(popper) {
  .select-filter {
    margin: 8px 0;
    text-align: center;
    .el-input__inner {
      width: 95%;
    }
  }
  .el-tree-select__checkbox, .el-select__checkbox {
    max-height: 200px;
    overflow: auto;
    + .footer-btn {
      border-top: $--beescm-select-footer-btn-border;
      text-align: right;
      height: $--beescm-input-height;
      line-height: $--beescm-input-height;
      padding-right: $--beescm-select-footer-btn-padding;
      .el-button {
        min-width: $--beescm-select-footer-btn-min-width;
        height: $--beescm-select-footer-btn-height;
      }
    }
  }
  .el-select__checkbox {
    .el-checkbox {
      display: block;
      margin: 0;
      padding-left: $--beescm-select-checkbox-margin-left;
      height: $--beescm-select-popper-li-height;
      line-height: $--beescm-select-popper-li-height;
      &:hover {
        background-color: $--beescm-select-selected-background-color;
      }
    }
  }
}
