/* Colors
-------------------------- */
$--beescm-text-default-color: #666666 !default;
$--beescm-text-selected-color: #5db5ef !default;

/* Fonts
-------------------------- */
$--beescm-default-font-size: 12px !default;

/* Heights
-------------------------- */
$--beescm-input-height: 30px !important;
$--beescm-select-popper-li-height: 26px !important;

/* Select
-------------------------- */
$--beescm-select-input-border-color: #aebdcb !default;
$--beescm-select-input-padding: 0 12px !default;
$--beescm-select-hover-background-color: #f4f6f9 !default;
$--beescm-select-selected-font-weight: normal !default;
$--beescm-select-popper-li-padding: 0 18px !default;

/* popper
-------------------------- */
$--beescm-popper-margin: 2px !default;